<tfoot>
    <tr>
        <td id="bitraduzionefiltri{{parametri.nomecontroller|getparametrotabella}}">
            <small>{{parametri.traduzionefiltri}}</small><br/><button id="birimuovifiltri{{parametri.nomecontroller|getparametrotabella}}" class="badge birimuovifiltri {{parametri.traduzionefiltri?'':'sr-only'}}">Rimuovi filtri</button>
        </td>
    </tr>
</tfoot>
