parameters:
	level: 5
	checkGenericClassInNonGenericObjectType: false
	paths:
		- ../../src
	excludePaths:
		- ../../src/Cdf/BiCoreBundle/Entity/*
		- ../../src/Cdf/BiCoreBundle/Form/*
		- ../../src/Cdf/BiCoreBundle/Command/BiCoreBundleConfigurator*
		- ../../src/Cdf/BiCoreBundle/Controller/FiApi*
