<div class="contextMenu" id="myMenu1" style="display:none">
  <ul style="width: 200px">
    <li id="addjqgridrow">
      <span class="ui-icon ui-icon-plus" style="float:left"></span>
      <span style="font-size:11px; font-family:Verdana">Nuova riga</span>
    </li>
    <li id="editjqgridrow">
      <span class="ui-icon ui-icon-pencil" style="float:left"></span>
      <span style="font-size:11px; font-family:Verdana">Modifica riga</span>
    </li>
    <li id="deljqgridrow">
      <span class="ui-icon ui-icon-trash" style="float:left"></span>
      <span style="font-size:11px; font-family:Verdana">Cancella riga</span>
    </li>
  </ul>
</div>
