<div class="contextMenu" id="campoMenu" style="display:none">
    <ul style="width: 200px">
        <li id="storicomodifiche">
            <span class="ui-icon ui-icon-pencil" style="float:left"></span>
            <span style="font-size:11px; font-family:Verdana">Storico modifiche</span>
        </li>
    </ul>
</div>
