<div id="menuhide" style="display: none" data-items="{{ risposta|json_encode() }}"></div>

<nav id="main-toolbar" aria-label="Main Toolbar" class="navbar navbar-expand-lg has-megamenu"><span>&nbsp;</span>
    <button class="custom-navbar-toggler" type="button" aria-controls="navbarNavB" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNavB">
        <svg class="icon icon-sm icon-light"><use xlink:href="{{asset('build/svg/sprite.svg#it-list')}}"></use></svg>
    </button>
    <div class="navbar-collapsable" id="navbarNavB">
        <div class="overlay"></div>
        <div class="skiplinks">
            <a class="sr-only sr-only-focusable" href="#main-content">Vai al contenuto principale</a>
        </div>
        <div class="close-div sr-only">
            <button class="btn close-menu" type="button">
                <svg class="icon icon-sm icon-light"><use xlink:href="{{asset('build/svg/sprite.svg#it-close')}}"></use></svg>close
            </button>
        </div>
        <div class="menu-wrapper">
            <ul id="navbar-menu" class="navbar-nav"></ul>
        </div>
    </div>
</nav>